body
  background-color: #f3f5f7
  min-width: 320px
  background-image: url('img/bg.jpg')
  background-position: top center
  background-repeat: repeat-x

.main
  background-color: #f3f5f7
  &__center
    width: $layout-width

.header
  height: $header-height
  //background-color: #172b44

.logo
  width: 104px
  height: 28px
  margin-top: 50px

.content
  width: 100%
  max-width: 700px
  margin: 0px auto
  font-family: 'Roboto', 'Open Sans'

.content2
  width: 100%
  max-width: 700px
  margin: 0px auto
  font-family: 'Open Sans'

.content td
  padding-left: 30px
  padding-right: 30px

.content2 td
  padding-left: 30px
  padding-right: 30px

.inner
  width: 100%
  border-radius: 3px
  background-color: #ffffff
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
  margin-bottom: 40px

.inner__img
  padding-top: 50px
  padding-bottom: 20px

.inner__ttl
  font-size: 30px
  color: #172b44
  padding-bottom: 11px

.inner__ttl-t
  max-width: 205px
  margin: 0 auto

.inner__ttl2
  font-size: 25px
  font-weight: 900
  line-height: 1
  color: #172b44
  padding-bottom: 10px

.inner__ttl2-t
  max-width: 346px
  margin: 0 auto

.inner__mess
  font-size: 11px
  font-weight: 500
  color: #646464
  padding-bottom: 21px

.inner__mess-t
  max-width: 230px
  margin: 0 auto

.inner__mess2
  font-size: 11px
  font-weight: 500
  text-align: center
  color: #afb3b8
  padding-bottom: 29px
  a
    color: #39b320
    text-decoration: none

.inner__mess2-t
  max-width: 295px
  margin: 0 auto

.inner__usname
  font-size: 10px
  font-weight: 500
  color: #afb3b8
  padding-bottom: 10px

.inner__email
  font-size: 12px
  font-weight: 500
  color: #172b44
  padding-bottom: 20px

.inner__btn
  padding-bottom: 30px

.footer
  width: 100%
  margin-bottom: 30px

.footer__text
  font-size: 10px
  font-weight: 500
  color: #646464
  max-width: 323px
  margin: 0 auto

.footer__text  a
	color: #39b320

.footer__logo
  padding-bottom: 5px

.footer-logo
  height: 20px

.footer__slogan
  font-size: 12px
  font-weight: 600
  text-align: center
  color: #1b1b1c
  padding-bottom: 10px

.footer__addr
  font-size: 10px
  font-weight: 500
  line-height: 1.5
  text-align: center
  color: #646464
  padding-bottom: 20px

.footer__menu
  font-size: 10px
  font-weight: 500
  line-height: 1.5
  text-align: center
  color: #172b44