body
  background-color: #f3f5f7
  min-width: 320px
  background-image: url('img/bg.jpg')
  background-position: top center
  background-repeat: repeat-x

.main
  background-color: #f3f5f7
  &__center
    width: $layout-width

.header
  height: $header-height

.logo
  width: 104px
  margin-top: 50px

.avatar
  width: 116px
  height: 116px
  border-radius: 50%
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  margin: 0 auto

.content
  width: 100%
  max-width: 700px
  margin: 0px auto
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.content2
  width: 100%
  max-width: 700px
  margin: 0px auto
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.content .withpad
  padding-left: 30px
  padding-right: 30px

.content2 .withpad
  padding-left: 30px
  padding-right: 30px

.inner
  width: 100%
  border-radius: 3px
  background-color: #ffffff
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
  margin-bottom: 40px

.inner__img
  padding-top: 50px
  padding-bottom: 20px

.inner__ttl
  font-size: 25px
  font-weight: 900
  line-height: 1
  color: #172b44
  padding: 0 30px 10px

.inner__ttl-t
  max-width: 205px
  margin: 0 auto

.inner__ttl2
  font-size: 25px
  font-weight: 900
  line-height: 1
  color: #172b44
  padding: 0 30px 10px

.inner__ttl2-t
  max-width: 346px
  margin: 0 auto

.inner__mess
  font-size: 11px
  font-weight: 500
  color: #646464
  padding: 0 30px 21px

.inner__mess-t
  max-width: 230px
  margin: 0 auto

.inner__mess2
  font-size: 11px
  line-height: 20px
  font-weight: 500
  text-align: center
  color: #afb3b8
  padding: 0 30px 29px
  a
    color: #39b320
    text-decoration: none

.inner__mess3
  font-size: 11px
  line-height: 1.73
  font-weight: 500
  text-align: center
  color: #afb3b8
  padding: 0 30px 29px

.inner__mess2-t
  max-width: 295px
  margin: 0 auto

.inner__mess3-t
  max-width: 440px
  margin: 0 auto

.inner__usname
  font-size: 10px
  font-weight: 500
  color: #afb3b8
  padding: 0 30px 10px

.inner__email
  font-size: 12px
  font-weight: 500
  color: #172b44
  padding: 0 30px 20px

.inner__btn
  padding-bottom: 30px

.inner__btn2
  padding-bottom: 20px

.footer
  width: 100%
  margin-bottom: 30px

.footer__text
  font-size: 10px
  font-weight: 500
  color: #646464
  max-width: 323px
  margin: 0 auto

.footer__text  a
	color: #39b320

.footer__logo
  padding-bottom: 5px

.footer-logo
  height: 20px

.footer__slogan
  font-size: 12px
  font-weight: 600
  text-align: center
  color: #1b1b1c
  padding-bottom: 10px

.footer__klickst
  font-weight: 500
  font-size: 10px
  line-height: 1.5
  color: #1b1b1c
  padding-bottom: 10px
  a
    color: #39b320

.footer__addr
  font-size: 10px
  font-weight: 500
  line-height: 1.5
  text-align: center
  color: #646464
  padding-bottom: 20px

.footer__menu
  font-size: 10px
  font-weight: 500
  line-height: 1.5
  text-align: center
  color: #172b44
  a
    color: #172b44
    text-decoration: none
  span
    padding: 0 10px

.vorname
  color: #39b320

.adresse
  color: #1b1b1c

.after__btn
  font-size: 11px
  font-weight: 500
  line-height: 1.73
  text-align: center
  color: #afb3b8
  padding: 0 30px 30px

.after__btn a
  font-style: italic
  color: #39b320

.after__btn2-t
  max-width: 475px
  margin: 0 auto

.after__btn2
  font-size: 11px
  font-weight: 500
  line-height: 1.73
  text-align: center
  color: #afb3b8
  padding: 0 30px 30px

.after__btn2 a
  color: #39b320